#logo {
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
}

#message {
    background-color: aqua;
}

#past {
    background-color: white;
}

#input_and_guess {
    display: inline-block;
}

#guessButton {
    background: whitesmoke;
    border: none;
    border-radius: 47px;
    cursor: pointer;
    margin: 11px 1px;
    font-size: 15px;
    padding: 4px;
    box-shadow: 1px 1px 3px;
    background-color: white;
}

#main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
}